/*
#FCBB6D
#D8737F   
#AB6C82   
#685D79   
#475C7A
*/


*{
    padding: 0;
    margin: 0;
}



.menu{
    display: flex;
    justify-content: left;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Barlow', sans-serif;
    background-color: #FCBB6D;
    height: 100%;

}






.menu ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly ;
}




.container{
    display: grid;
    justify-content:space-evenly;
    grid-template-columns:1fr 2.7fr 1fr 2fr;
    background-color: #AB6C82;
}

.navlist{
        list-style: none;
        display: flex;
        align-items:baseline;
        justify-content: flex-end;
        justify-content: space-evenly;

}




.lst{
    background-color: #D8737F;
    padding-left: 5%;
    font-family: 'Barlow', sans-serif;
}

img{
    border: 5px solid #475C7A;
}

p{
    border: 5px solid #475C7A;
    font-family: 'Arvo', serif;
}


.h2 {
    background-color:#475C7A;
    font-family: 'Barlow', sans-serif;
}

a{
    color:black;
    font-family: 'Barlow', sans-serif;
}

a:hover{
    background-color: #685D79 ;
}

a:visited {
    background-color:#685D79;   

}